
@model IEnumerable<AppControlLaboratorios.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);" class="text-white">Lista de Cursos</h1>
<link rel="stylesheet" href="~/css/botones.css" />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-light table-hover">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol.Nombre)
            </td>
            <td>
                @Html.Partial("_botonesEDE", item.Id)                   
            </td>            
        </tr>
}
    </tbody>
</table>

<style>
    .button-container {
        display: flex; /* Utiliza flexbox */
        gap: 10px; /* Espacio entre botones */
        align-items: center; /* Alinea los elementos verticalmente */
    }
</style>