@model AppControlLaboratorios.Models.Usuario
@{
}

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">
            <i class="fa-solid fa-house-laptop"></i>&nbsp;Laboratorios Sistemas
        </a>
    </div>
</nav>

<div>
    <div class="row section2-details py-5 d-flex justify-content-center align-items-center">
        <!-- Texto de bienvenida con sombra -->
        <h1 class="container text-center mb-4 text-white" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);">¡Bienvenido @Model.Nombre!</h1>

        <!-- Pregunta con sombra -->
        <p class="container text-center lead mb-4 text-white" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);">¿En qué laboratorio te encuentras?</p>

        <!-- Botones de laboratorio -->
        <div class="row justify-content-center">
            <div class="row justify-content-center">
                <div class="col-10 col-md-3 mb-3">
                    <form asp-controller="Asistencias" asp-action="SeleccionLab" asp-route-id="@Model.Id" asp-route-idlab="1">
                        <button type="submit" class="boton-vista text-light btn btn-primary btn-block">Laboratorio 01</button>
                    </form>
                </div>
                <div class="col-10 col-md-3 mb-3">
                    <form asp-controller="Asistencias" asp-action="SeleccionLab" asp-route-id="@Model.Id" asp-route-idlab="2">
                        <button type="submit" class="boton-vista text-light btn btn-primary btn-block">Laboratorio 02</button>
                    </form>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-10 col-md-3 mb-3">
                    <form asp-controller="Asistencias" asp-action="SeleccionLab" asp-route-id="@Model.Id" asp-route-idlab="3">
                        <button type="submit" class="boton-vista text-light btn btn-primary btn-block">Laboratorio 03</button>
                    </form>
                </div>
                <div class="col-10 col-md-3 mb-3">
                    <form asp-controller="Asistencias" asp-action="SeleccionLab" asp-route-id="@Model.Id" asp-route-idlab="4">
                        <button type="submit" class="boton-vista text-light btn btn-primary btn-block">Laboratorio 04</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Texto de cursos, horarios y asistencias-->
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">
            <i class="fa-solid fa-house-laptop"></i>&nbsp;Laboratorios Sistemas
        </a>
    </div>
    <div class="row section2-details py-5 d-flex justify-content-center align-items-center">
        <!-- Botones de laboratorio -->
        <div class="row justify-content-center">
            <div class="col-10 col-md-3 mb-3">
                <form asp-controller="UsuarioCursos" asp-action="Index" asp-route-idUsuario="@Model.Id">
                    <button type="submit" class="boton-vista text-light btn btn-primary btn-block">Mis cursos</button>
                </form>
            </div>
            <div class="col-10 col-md-3 mb-3">
                <form asp-controller="Horarios" asp-action="Index" asp-route-idUsuario="@Model.Id">
                    <button type="submit" class="boton-vista text-light btn btn-primary btn-block">Mis Horarios</button>
                </form>
            </div>
            <div class="col-10 col-md-3 mb-3">
                <form asp-controller="Asistencias" asp-action="SeleccionLab" asp-route-idUsuario="@Model.Id" asp-route-idlab="3">
                    <button type="submit" class="boton-vista text-light btn btn-primary btn-block">Laboratorio 03</button>
                </form>
            </div>
        </div>
    </div>
</div>

<form asp-action="Login">
    <button class="salir">
        <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
        <div class="text">Salir</div>
    </button>
</form>

